/*.container-background-l1: define o fundo da tela, com a cor verde escuro;
.container-background-l2: define uma área central em um tom mais claro de verde e centraliza os elementos dentro dela;
.container-background-l3: define a caixa de login, com fundo branco e bordas arredondadas;
.logoifce: posiciona a logo do IFCE no centro da tela;
.title: estiliza o título "Bem-vindo!" na tela de login;
.subtitle: estiliza o subtítulo "Faça login para continuar" na tela de login;
.inputEmail: estiliza o campo de entrada de email na tela de login;
.inputEmail input: estiliza o input do campo de email;
.inputSenha: estiliza o campo de entrada de senha na tela de login;
.inputSenha input: estiliza o input do campo de senha;
.button-login: estiliza o botão de login na tela de login;
.resetPassword: posiciona o link "Esqueci minha senha" à direita do campo de senha;
.resetPassword a: estiliza o link de "Esqueci minha senha";
.createAcc: posiciona o link "Criar uma conta" no final da tela de login;
.createAcc a: estiliza o link de "Criar uma conta".*/

.container-background-l1 {
  display: flex;

  position: absolute;
  width: 1920px;
  height: 1080px;
  background: #0a5517;
  display: flex;
}

.container-background-l2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  width: 960px;
  height: 1080px;

  background: #46a151;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  width: 460px;
  height: 740px;
  left: 250px;
  top: 164px;
  background: #ffffff;
  border-radius: 15px;
}

.logoifce {
  margin-left: 1093.75px;
  margin-top: 449.75px;
}

.title {
  margin-bottom: 25px;
  margin-left: 75px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #1f2421;
}

.subtitle {
  margin-bottom: 67px;
  margin-left: 75px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0a5517;
}

.inputEmail {
  margin-bottom: 20px;
  margin-left: 75px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1f2421;
}

.inputEmail input {
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 20px;
  width: 322px;
  height: 39px;
  border-radius: 5px;
  border: 1.5px solid #AFACAC;
  text-decoration: none;
  color: #AFACAC;
}

.inputSenha {
  margin-bottom: 64px;
  margin-left: 75px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1f2421;
}

.inputSenha input {
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 20px;
  width: 322px;
  height: 39px;
  border: 1.5px solid #AFACAC;
  border-radius: 5px;

  text-decoration: none;
  color: #AFACAC;
}

.button-login {
  margin-left: 75px;
  margin-bottom: 20px;
  border-radius: 5px;
  height: 39px;
  width: 322px;
  background: #0a5517;

  border-radius: 5px;
  border-style: solid;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.resetPassword {
  margin-left: 252px;
}

.resetPassword a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #9c6b00;
}

.createAcc {
  margin-top: 75px;
  margin-left: 75px;
}

.createAcc a {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1f2421;
}
