.sidebar-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: 30px;
  margin: 5px 0;
  padding: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.sidebar-button-selected {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
  height: 30px;
  margin: 5px 0;
  padding: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgba(175, 172, 172, 0.2);
}

.sidebar-button:hover {
  background-color: rgba(175, 172, 172, 0.2);
}

.sidebar-button-icon {
  width: 16px;
  height: 16px;
}

.sidebar-button-label {
  width: 100%;
  padding: 0;
  padding-left: 15px;
  font-size: 1rem;
  text-align: start;
  color: var(--clr-white);
}

.sidebar-button-label-selected {
  width: 100%;
  padding: 0;
  padding-left: 15px;
  font-size: 1rem;
  text-align: start;
  color: var(--clr-yellow);
}

.sidebar-button-arrow {
  width: 16px;
  height: 16px;
}
