.sidebar {
  position: fixed;
  margin-top: 56px;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background-color: #0a5517;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);
}

.sidebar-open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.sidebar-header h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px 20px;
}

.sidebar-menu li:hover {
  background-color: #f1f1f1;
}

.sidebar-menu li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

/*corrigir botões*/
/*.sidebar-nav > button {
  display: flex;
  align-items: center;
  justify-content: center;
}*/
