.data-table {
  align-self: center;
  width: 80%;
  padding: 10px;
  margin-top: 120px;
}

.sidebar {
  background-color: #0a5517;
  width: 270px;
  height: 100%;
  position: fixed;
  top: 64px;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  transform: translateX(-100%);
  padding-top: 10px;
  z-index: 1;
}

.sidebar-open {
  left: 270px;
}

.page-title {
  width: 80%;
  height: 49;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: Bold;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  
}


  

