.printer-page-title {
  width: 1000px;
  padding-bottom: 100px;
  padding-left: 20px;
}

.printer-page-title h1 {
  color: var(--clr-black);
}

.selected-printer-name {
  font-size: 2rem;
}

.printer-page-content-actions {
  width: 1000px;
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-between;
}
