.footer {
  min-width: 100%;
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-green-1);
}

.links {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-link-section {
  align-self: flex-start;
  min-width: 200px;
  margin: 10px;
  padding: 0 5px;
  border-left: 3px solid var(--clr-yellow);
}

.footer-link-section-title {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: regular;
  color: var(--clr-green-3);
}

.footer-link-section-links {
  list-style: none;
  padding-left: 8px;
}

.footer-link-section-links li {
  margin-top: 5px;
}

.footer-link-section-links a {
  font-size: 0.9rem;
  text-align: left;
  text-decoration: none;
  color: var(--clr-white);
}

@media (max-width: 768px) {
  .footer {
    min-height: fit-content;
  }

  .links {
    flex-direction: column;
  }

  .footer-link-section {
    align-self: center;
  }
}
