.home-page-title {
  width: 1000px;
  padding-bottom: 100px;
  padding-left: 20px;
}

.home-page-title h1 {
  color: var(--clr-black);
}

.home-page-content-actions {
  width: 1000px;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}
