.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--clr-green-3);
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.avatar-letter {
  font-family: Roboto, serif;
  text-transform: uppercase;
  color: var(--clr-white);
  font-size: 1.1rem;
}
