.container {
  min-height: 100vh; /* altura mínima para cobrir toda a página */
  position: relative; /* para que o position:absolute do footer funcione em relação ao container */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* para ocupar toda a largura do container */
}
